body{
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}
h1{
  font-size: 2em;
}
p{
  line-height: normal;
}
.fontsize {
  font-size: 25px;
}
.fontWeight{
  font-weight: bold;
}
.text-align{
  text-align: center;
}